.gmap {
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
}
.gmap iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#my-button-GM{
    margin-top: 1em;
}