table.card-text {
  margin-bottom: 1em;
  vertical-align: baseline;
  text-align: right;
}
.card-more-text{
  width: 70%;
}
.tile{
  margin-bottom: 1em;
}
.bd-placeholder-img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
.my_text-mini {
  font-size: small;
}
@media (max-width: 420px) {
  #ennichi {
    font-size: 70%;
  }
}
