.shinkan-contents {
  background-color: #08415c;
  color: white;
}
.shinkan-contents2 {
  background-color: #c8031f;
  color: white;
}
.shinkan-contents3 {
  background-color: black;
  color: white;
}
