body {
  font-family: "Noto Sans JP";
  font-weight: 400;
  /* background-color: #c8031f; */

  background-color: #b50721;
  color: #000000;
}
.no-active {
  color: rgb(100, 100, 100) !important;
}
.my_page-title{
  color: white;
  font-size: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
}
.my_is-border{
  border: solid 4px black;
}
.row{
  margin:0;
}
.btn {
  background-color: hsl(199, 84%, 19%);
  color: white;
  border: solid 0.1em hsl(199, 84%, 19%);
}
.btn:hover {
  background-color: #ffffff;
  color: hsl(199, 84%, 12%);
  border: solid 0.1em hsl(199, 84%, 12%);
}
.logo {
  height: 55px;
  width: 190px;
}
.mobile-br {
  display: none;
}

/*test*/

/*test*/
/* navigation */
.navbar {
  background-color: #000000;
  color: #ffffff;
}

.fa-bars {
  color: #ffffff;
}

.nav-link {
  color: #ffffff !important;
}
.nav-item:hover {
  border-top: 0.5px solid white;
  border-bottom: 0.5px solid white;
}

/* navigation */

/*hero*/

/*汎用-tile*/
.tile {
  margin: 0 2em 3em 2em;
  /* margin:2em; */
  padding: 1em 3em 1em 3em;
  max-width: 1200px;
}

.tile-title {
  font-weight: 400;
  font-size: 120%;
  text-align: center;
}
.tile-sub-title {
  font-weight: bolder;
  font-size: 110%;
}

.is-round {
  border-radius: 20px;
}

.is-bg-white {
  background-color: white;
  color: black;
}

.main {
  border-top:solid 0.1px #000000 ;/*nav-barとのmarginの相殺を防ぐ*/
  margin-top: 71px;
  margin-bottom: 1em;
}
.col-title::before {
  content: "";
  display: inline-block;
  width: 2em;
  height: 2em;
  background-image: url(../img/icon.png);
  background-size: contain;
  vertical-align: middle;
}

/*汎用-tile*/

/*card-layout*/
.card {
  margin: 1em;
  padding: 0.5rem;
}
.card-thumbnail {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}
.card-img-wrapper {
  display: block;
  margin: 0;
  padding: 0;
}
.card-img-wrapper::after {
  transition: 0.5s;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
}
.card-img-wrapper img {
  display: block;
  max-width: 100%;
}
.card-more-text {
  transition: 0.5s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  color: #fff;
  font-size: 14px;
  opacity: 0;
}
.card:hover .card-img-wrapper::after {
  opacity: 1;
}
.card:hover .card-more-text {
  opacity: 1;
}
/*card-layout*/

/*sponsor*/
.sponsors {
  padding: auto;
}

.sponsor-logo {
  background-color: #ffffff;
  padding: 0.5em;
  margin: 0.5em 1em;
  border-radius: 10px;
}

.my-shadow {
  box-shadow: 10px 10px 15px -10px;
}

.my-shadow:hover {
  box-shadow: 0px 0px 0px 0px black;
}
.web-ad {
  margin: 0 0 1.5rem 0;
}

.web-ad-content {
  height: 148px;
  width: 228px;
  text-align: center;
}
/*sponsor*/

/*footer*/
.footer {
  background-color: #010101;
  text-align: center;
  color: #ffffff;
  padding:  2rem 2rem 1rem 2rem;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.footer a {
  color: #ffffff;
  display: inline-block;
  text-decoration: none !important;
}

.footer-img {
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.footer-left i {
  background-color: #33383b;
  color: #ffffff;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
  display: inline-block;
}

.footer-left {
  text-align: left;
}

#footer-row {
  margin-top: 0;
}
.copyright {
  margin-top: 2rem;
  text-align: center;
}

.copyright h5 {
  font-size: 95%;
}
/*footer*/

/* media_query */
@media (max-width: 768px) {
  .tile {
    padding: 1em 1.5em 1em 1.5em;
  }
  .caption h1 {
    font-size: 350%;
  }

  .caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }
}
@media (max-width: 544px) {
  body {
    font-size: 14px;
    font-weight: 300;
  }
  .caption h1 {
    font-size: 250%;
  }

  .caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }

  .carousel-indicators {
    display: none;
  }

  .is-bg-beige {
    background-color: #dfc392;
    color: #08415c;
    padding-bottom: 50%;
  }

  .is-bg-navy {
    background-color: #08415c;
    color: #dfc392;
    padding-bottom: 50%;
  }

  .footer-center {
    margin-top: 2rem;
  }

  .footer-right {
    margin-top: 2rem;
  }

  .copyright {
    margin-top: 2rem;
  }

  .sponsors {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 420px) {
  .tile {
    padding: 1em;
  }
  .card-more-text {
    font-size: 70%;
  }
  .sponsor-logo {
    margin: 0.5em 2px;
    height: 115px;
    width: 175px;
    padding: 2px;
  }
  .web-ad-content {
    height: 111px;
    width: 171px;
  }
  .mobile-br {
    display: inline;
  }
}

/* media_query */
