.my_mogi-nav::before {
  content: "";
  display: inline-block;
  width: 2em;
  height: 2em;
  background-image: url(../img/icon_white.png);
  background-size: contain;
  vertical-align: middle;
}
.my_nav-active {
  border-top: 0.5px solid #b50721;
  border-bottom: 0.5px solid #b50721;
}
.my_nav-active:hover {
    border-top: 0.5px solid #b50721;
    border-bottom: 0.5px solid #b50721;
  }

.my_is-border {
  border: solid 4px black;
}
